body{
    background-color: lightsalmon;
}

/* header sytles */

header {
    background-color: #FF8869;
    padding: 10px 0px 10px 0px;
}

h1{
    font-family: Verdana, Geneva, Tohoma, sans-serif;
    font-size: 60px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 5px;
}

.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.push{
    margin-left: auto;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 5px;
    margin: 0px 3px;
    border: 3px double #FF8869;
    border-radius: 1px;
    background-color: whitesmoke;
    margin: 2px;
    transition-duration: .4s;
}

button:hover{
    background-color: #FF8869;
    border: 3px double whitesmoke;
    border-radius: 25px;
    box-shadow: 0px 5px #C96C53;
    transform: translateY(-4px);
}

button:active{
    background-color: #FF8869;
    border: 3px double whitesmoke;
    border-radius: 25px;
    box-shadow: 0px 0px #C96C53;
    transform: translateY(4px);
}

footer{
    background-color: #6F2F2D;
    height: 60px;
    text-align: center;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    color: lavenderblush;
    padding: 10px 0px;
}

/* Button Page Exclusives */
.button-one-section{
    background-color: antiquewhite;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.button-top-img{
    border: 3px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 10px 10px 20px darkgoldenrod;
    width: 70%;
}
/* Fonts */
.knewave {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

.flegrei{
    font-family: "flegrei", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Carousel */
* {
    box-sizing: border-box;
}

.slider {
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: indianred;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 200px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slider>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: indianred;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    transition-duration: .4s;
}

.slider>a:active {
    transform: translateY(4px);
}

.slider>a:hover {
    box-shadow: 0px 5px darkred;
    transform: translateY(-4px);
}

.slide-image{
    border-radius: 10px;
}
